.header {
    margin: 0%;
}

.ul-menu {
    background-color: #f7dbf0;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

.li-menu-header {
    color: rgb(148, 143, 143);
    float: left;
    text-decoration: none;
    display: block;
    padding: 17px;
    font-size: 20px;
}

.li-menu-header:hover {
    color: #f9f9f9;
    background-color: #beaee2;
}